body {
    font-family: monospace;
    margin: 0;
    background-color: #f2f1ec;
}


/* ------------------------------------------------------------------------------ */
/* Website Navbar */

nav {
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav a {
    margin-left: 10px;
    margin-right: 30px;
    color: #d9d9d9;
    text-decoration: none;
    font-size: 18px;
    transition: font-weight 0.3s;
}

/* Change tab when the user hover */
nav a:hover {
    font-weight: bold;
    /* transform: scale(1.1); */
}



/* Coin-icon Animation and Style */
@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.rotatingIcon {
    width: 30px;
    height: 30px;
    animation: spin 5s linear infinite;
    transform-style: preserve-3d;
    margin-right: 30px;
}

nav img {
    margin-left: auto;
}

/* ------------------------------------------------------------------------------ */
/* Parallax Animation */

.parallaxContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Parallax background stays fixed */
.parallaxBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/images/Virtual\ Coins\ Explorer.png);
    background-position: center;
    background-size: cover;
    z-index: -1; 
}

/* Parallax image style */
.parallaxImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/images/falling-coins.png); 
    background-size: cover; 
    background-position: center;
    z-index: 1; 
    transition: transform 0.1s ease-out; 
}

/* ------------------------------------------------------------------------------ */
/* Coins Navbar */

.navbar {
    width: 500px;
    margin: 40px auto;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 10px;
    background-color: #f2f1ec;
}

/* Coins Buttons */
.roundBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #fff; 
    cursor: pointer;
    transition: transform 0.3s ease;
}

.roundBtn:hover {
    transform: scale(1.1); 
    border: 1px solid black;
}

.eurBtn {
    background-image: url(assets/images/european-union-flag.png); 
}

.eurBtn::after {
    content: "EUR";
    position: absolute;
    top: -30px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.eurBtn:hover::after {
    opacity: 1;
    visibility: visible;
}

.usdBtn {
    background-image: url(assets/images/usa-flag.png); 
}


.usdBtn::after {
    content: "USD";
    position: absolute;
    top: -30px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.usdBtn:hover::after {
    opacity: 1;
    visibility: visible;
}

.ilsBtn {
    background-image: url(assets/images/israel-flag.png); 
}

.ilsBtn::after {
    content: "ILS";
    position: absolute;
    top: -30px; 
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.ilsBtn:hover::after {
    opacity: 1;
    visibility: visible;
}


/* Input Box */
.input-field {
    width: 240px;
    height: 30px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid grey;
    outline: none; 
}

/* Clear Button */
.clearBtn {
    width: 80px;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-color: #293c8c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.clearBtn:hover {
    transform: scale(1.02); 
    border: 1px solid black;
}

/* ------------------------------------------------------------------------------ */
/* Cards and Container */
#cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 עמודות בגודל אחיד */
    gap: 20px;
    width: 80%;
    margin: 20px auto;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 150px; /* גובה קבוע לכל כרטיס */
    position: relative; /* מאפשר מיקום יחסי לתוך הכרטיס */
}

.infoBtn {
    width: 100%; 
    height: 30px; 
    background-color: #293c8c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; 
    transition: transform 0.3s ease;
    font-size: 14px;
}

.infoBtn:hover {
    transform: scale(1.05); 
}

.coinIdentity {
    display: flex;
    align-items: flex-start; /* מוודא שהתמונה והטקסטים מתחילים בצמוד לשמאל */
    gap: 10px; /* המרחק בין התמונה לטקסטים */
}

.coinImage {
    display: flex;
    justify-content: center; /* יש למרכז את התמונה */
}

.coinImage img {
    width: 30px; /* גודל התמונה */
    height: 30px; /* גובה התמונה */
    flex-shrink: 0; /* לא לאפשר לתמונה להתכווץ */
}

.coinInfo {
    display: flex;
    flex-direction: column; /* סידור הטקסטים בטור */
    align-items: flex-start; /* סידור הטקסטים בצמוד לשמאל */
}

.symbolSpan {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.symbolName {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

/* Toggle Switch */
.form-check {
    position: absolute; 
    top: 10px; 
    right: 10px;
}

.form-check-input:checked {
    background-color: #293c8c; 
    border-color: #293c8c; 
}


.form-check-input:focus {
    box-shadow: none; 
    outline: none; 
}


/* Modal Tests */
.modalContainer{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
    text-align: center;
}

.modal-content h2 {
    font-weight: bold;
    font-size: 24px;
}

.modal-content p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.modal-content button {
    width: 100px; 
    height: 30px; 
    background-color: #293c8c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; 
    transition: transform 0.3s ease;
    font-size: 14px;
    margin: 15px auto;
}

.modal-content button:hover {
    transform: scale(1.05); 
}

#selectedCoinsList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 40px;
}

#selectedCoinsList div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; 
    color: rgba(0, 0, 0, 0.7);
}


.checkboxContainer {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer; 
    width: 100%; /* וודא שה-div תופס את כל רוחב העטיפה */
  }
  
  .checkboxContainer:hover {
    background-color: #e0e0e0;
    border-radius: 4px; 
  }
  

  .checkboxContainer label {
    display: block; /* תווית שתופס את כל רוחב ה-div */
    width: 100%; /* תווית תתפוס את כל רוחב ה-div */
    margin-left: 10px; /* רווח מימין לאובייקט */
    text-align: left;
  }
  
  .checkboxContainer input[type="checkbox"]:checked + label {
    color: #007bff; 
  }
  
  #errorModalDiv{
    display: none;
    color: red;
  }